body{
  background-image: url(../img/space.jpg);
}

h1{
  color: white;
  text-align: right;
}

.tus{
  text-align:center;
  position:fixed;
  padding-top:300px;
  left: 800px;
}

.rotate{
  padding-top:300px;
  position:fixed;
  text-align:center;
  margin:auto;
  left: 750px;
  top: 25px;
}
